[package]
name = "loro-c-ffi"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]
path = "src/lib.rs"

[dependencies]
libc = "0.2"
loro = "1.3.2"
loro-internal = "1.3.2"
serde_json = "1.0"
